/* body {
    font-size: 12px;
} */

div {
    width: 85%;
    height: 60px;
    border: 4px solid darkgoldenrod;
    margin: 3px;
    background-color: cornsilk;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 0.5rem;
}

article {
    width: 70%;
    margin: 3px;
    background-color: lightblue;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 2rem;
}

p {
    margin: 0.2em;
    padding: 5px;
    background-color: cadetblue;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 0.9rem;
}

ul {
    font-size: 0.8rem;
}